/*Overall elements */

body {
    font-size: 80%;
    font-family: "Arial", sans-serif;
    background-color: #0C2340;
    color: #f1f1e6;
    padding: 0;
}
#wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    width: 100%;
    margin: 0;
}
@font-face {
    font-family: "Woodford Bourne";
    src: "fonts/WoodfordBourne-Bold.otf"
}

/* Nav bar */

header {
    background: #f1f1e6;
}
.logo {
    max-width: 180px;
    max-height: 80px;
    grid-column: span 2;
    margin-top: 8px;
    margin-left: 30px;
}
header h1 {
    grid-column: span 4;
    color: #0093ff;
    font: "Woodford Bourne";
}
nav {
    text-align: right;
    grid-column: span 6;
    width: 100%;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav li {
    margin: 0 10px;
    width: 100px;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
}
h1 {
    font-size: 40px;
    text-align: left;
    padding: 4px 10px;
    color: #0093FF;
    display: inline-block;
    color: #0C2340;
    margin-top: 20px;
    font: woodford
}
a {
    font: "Woodford Bourne";
    font-size: 20px;
    color: #0093ff;
    background: #f1f1e6;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 30px;
    margin-left: -50px;
}
nav li a.current {
    color: #0C2340;
}

/*bottom section of index page*/

.grid-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
}
parag {
    grid-column-end: span 6;
    width: 100%;
    height: 400px;
    margin-left: 50px;
}
.textindex {
    padding-left: 100px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 500px;
    font-size: 40px;
}
#homeboy {
    margin-top: -40px;
    margin-left: -60px;
    width: 100%;
    height: 100%;
}

/*bottom FAQ section of page*/

.textfaq {
    padding: 30px 450px;
    font-size: 20px;
    margin-top: -70px;
}
.questions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: (1, auto);
    width: 100%;
    text-align: center;
    margin-top: 150px;
}
.qandas {
    padding: 20px 40px;
    font-size: 25px;
    text-align: left;
    max-width: 350px;
    margin-left: 100px;
}
h3 {
    margin-top: 30px;
    padding: 5px 5px;
    font-size: 30px;
    color: #0093ff;
}

/*bottom section of events page*/

h4 {
    padding: 20px;
    font-size: 30px;
}
.datesev {
    background-color: #0093ff;
    max-height: 100px;
    max-width: 200px;
}
.paraev {
    padding: 10px 10px;
    font-size: 25px
}
.gridevent {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 100px;
    margin-left: 100px;
}
.underheader {
    font-size: 30px;
    margin-left: 70px;
    padding: 1px 0px 10px 50px;
}

/*bottom section of contact page*/

.gridcontact {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
}
.textcontact {
    margin-left: 50px;
    margin-top: 70px;
    padding: 2px;
    font-size: 30px;
}
#contactpic {
    display: grid;
    margin-left: 800px;
    margin-top: -400px;
    width: 50%;
    height: 50%;
}

/*bottom gallery section of page*/

body * {
    font-family: 'Montserrat', sans-serif;
}
h2 {
    padding: 0 0 0 200px;
    font-size: 60px;
    color: #0093ff;
}
img {
    width: 250px;
    height: 250px;
}
.gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}
.gallery-item {
    display: flex;
    padding: 30px;
}
.gallery-img {
    width: 100%;
    height: 100%;
}
